blockquote {
  background: #f9f9f9;
  border-left: 10px solid #FF0000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.navbar-nav > li > a {
  max-height: 129px;
}

.nav-bar-text {
  display: inline-block;
  padding-left: 3px;
  text-align: left;
}

.content {
  font-family: Georgia, Serif;
  line-height 1.5;
  hyphens: auto;
  webkit-hyphens: auto;
  font-size: 16px;
  max-width: 44em;
  margin: 0 auto;
  padding: 0 1em;
}

.pgp {
  max-width: 533px;
}

.pgp > code {
  margin: 0;
  padding: 0;
}

.selected {
  color: black;
}
