.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

amp-img {
  background-color: grey; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

main {
  display: block; }

body {
  background-color: #fff;
  font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

.site-header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 16px auto 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (max-width: 800px) {
    .site-header {
      padding: 0 16px; } }
  .site-header .page-links {
    display: block;
    position: absolute;
    top: 10px;
    right: 16px;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    line-height: 30px; }
    .site-header .page-links a {
      text-decoration: none;
      color: #999999; }
      .site-header .page-links a:hover {
        color: #333333; }

.blog-header {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .blog-header .blog-title {
    margin-bottom: 8px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2px;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: #333333; }
  .blog-header .blog-description {
    font-size: 28px;
    margin: 0 0 20px;
    padding: 0;
    line-height: 1.2;
    color: #666666;
    font-weight: 300; }

.content {
  width: 100%;
  max-width: 700px;
  margin: 25px auto 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (max-width: 800px) {
    .content {
      padding: 0 16px; } }
  .content article {
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f0; }
    .content article:last-child {
      border-bottom: 0px; }
    .content article .post-title {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      display: block;
      font-size: 36px;
      line-height: 1.15;
      margin: 0 0; }
      .content article .post-title a {
        text-decoration: none;
        color: #333332; }
        .content article .post-title a:hover {
          text-decoration: none; }
    .content article .post-excerpt {
      letter-spacing: -0.02em;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;
      line-height: 1.59;
      color: #666665; }
    .content article .post-meta {
      font-size: 14px;
      color: #b3b3b1;
      line-height: 30px; }
      .content article .post-meta a {
        color: #b3b3b1;
        text-decoration: none; }
        .content article .post-meta a:hover {
          text-decoration: underline; }

.post-template .content {
  max-width: 700px; }

.index-headline {
  border-top: 1px solid #dededc;
  margin: 0;
  padding: 16px 0; }
  .index-headline span {
    color: #b3b3b1;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px; }

.pagination {
  text-align: center;
  padding: 16px 0 0;
  font-size: 12px; }
  .pagination a {
    color: #999999;
    text-decoration: none; }
    .pagination a:hover {
      color: #333333; }

.site-footer {
  margin: 0 auto;
  padding: 48px 0;
  width: 100%;
  max-width: 700px;
  font-size: 12px;
  text-align: center;
  color: #999999;
  line-height: 17.6px; }
  .site-footer a {
    color: #666666;
    text-decoration: none; }
    .site-footer a:hover {
      color: #333333; }

.post .post-meta {
  font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif; }
.post .post-title {
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.04em;
  font-size: 50px;
  line-height: 1.1;
  color: #333332;
  margin-bottom: 50px; }
.post .author-image {
  background-image: url(localhost:3000/images/author.jpg);
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 8px;
  margin-bottom: -10px;
  float: left;
  background-size: cover;
  border-radius: 100%;
  text-indent: -9999px; }
.post .post-meta-text {
  color: #b3b3b1;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  overflow: hidden;
  font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis; }
.post .post-content {
  width: 100%;
  font-family: Georgia, Cambria, "Times New Roman", Times, "Lora", serif;
  color: #333333; }
  .post .post-content h1, .post .post-content h2, .post .post-content h3 {
    font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif; }
  .post .post-content h3, .post .post-content h4, .post .post-content h5, .post .post-content h6 {
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 1.3;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif; }
  .post .post-content h3 {
    font-size: 36px; }
  .post .post-content h2, .post .post-content h1 {
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    line-height: 1.2;
    margin-top: 50px;
    margin-bottom: 0px; }
  .post .post-content p {
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 1.59;
    letter-spacing: -.002em;
    margin-top: 30px;
    margin-bottom: 0;
    color: #333333;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
  .post .post-content a {
    color: #333333;
    text-decoration: underline; }
  .post .post-content amp-img, .post .post-content amp-youtube {
    margin-top: 30px; }
  .post .post-content figure {
    margin: 0;
    padding: 0 0 30px; }
  .post .post-content figcaption {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 1.3;
    color: #666665;
    outline: 0;
    z-index: 300;
    text-align: center; }
  .post .post-content hr {
    border: 0;
    padding: 0;
    display: block;
    width: 15%;
    margin: 30px auto;
    border: 0px solid #dddddd;
    border-top: 1px solid #dddddd; }
  .post .post-content blockquote {
    margin: 0 0 30px;
    margin-left: -26px;
    border-left: 3px solid #57ad68;
    padding-left: 20px; }
    .post .post-content blockquote p {
      letter-spacing: 0.01rem;
      font-weight: 400;
      mborder-left: 3px solid #57ad68;
      mpadding-left: 20px;
      mmargin-left: -26px;
      padding-bottom: 3px; }
  .post .post-content ul, .post .post-content ol {
    padding: 0 0 30px;
    margin: 0; }
  .post .post-content li {
    padding: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    line-height: 30px;
    margin-left: 30px;
    margin-bottom: 12px;
    padding-top: 2px; }
    .post .post-content li p {
      padding: 0 0 1.618rem; }
  .post .post-content ol li {
    list-style-type: decimal; }
.post .bottom-teaser {
  padding: 50px 0 0 0;
  font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif; }
  .post .bottom-teaser hr {
    border: 0;
    padding: 0;
    display: block;
    width: 15%;
    margin: 16px 0 16px 100px;
    border: 0px solid #dddddd;
    border-top: 1px solid #dddddd; }
  .post .bottom-teaser .isLeft {
    float: left;
    width: 47%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (max-width: 800px) {
      .post .bottom-teaser .isLeft {
        width: 100%;
        padding-bottom: 32px; } }
    .post .bottom-teaser .isLeft .bio {
      margin-top: 18px;
      margin-bottom: 18px; }
    .post .bottom-teaser .isLeft .username {
      margin-left: 4px;
      margin-right: 18px;
      margin-bottom: 18px; }
    .post .bottom-teaser .isLeft .index-headline {
      padding-bottom: 32px; }
    .post .bottom-teaser .isLeft a {
      color: black;
      text-decoration: none; }
      .post .bottom-teaser .isLeft a:hover {
        color: #333333;
        text-decoration: underline; }
    .post .bottom-teaser .isLeft .author-image {
      display: block;
      width: 80px;
      height: 80px;
      float: left;
      background-size: cover;
      border-radius: 100%;
      text-indent: -9999px; }
    .post .bottom-teaser .isLeft h4 {
      font-size: 18px;
      line-height: 1.1;
      font-weight: 700;
      padding: 0;
      margin: 0;
      padding-left: 100px; }
    .post .bottom-teaser .isLeft p {
      font-size: 14px;
      line-height: 1.3;
      font-weight: 400;
      padding: 0;
      margin: 0;
      padding-left: 100px; }
      .post .bottom-teaser .isLeft p.published {
        color: #999999; }
  .post .bottom-teaser .isRight {
    float: right;
    width: 47%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media only screen and (max-width: 800px) {
      .post .bottom-teaser .isRight {
        width: 100%; } }
    .post .bottom-teaser .isRight .index-headline {
      padding-bottom: 32px; }
    .post .bottom-teaser .isRight .site-footer {
      margin: 0;
      padding: 0;
      color: #333333;
      text-align: left;
      font-size: 14px;
      line-height: 1.3;
      color: #999999; }
      .post .bottom-teaser .isRight .site-footer a {
        color: #333333;
        text-decoration: none; }
        .post .bottom-teaser .isRight .site-footer a:hover {
          text-decoration: underline; }
      .post .bottom-teaser .isRight .site-footer .poweredby {
        display: block;
        padding-bottom: 18px;
        font-weight: 700;
        color: #333333; }

.share {
  text-align: right;
  padding: 20px 0 0; }
  .share a {
    text-decoration: none;
    color: #bbbbbb;
    padding-left: 12px; }
    .share a .hidden {
      display: none; }
    .share a:hover {
      color: #333333; }
