{% extends "base" %}
{% block content %}
<div>
  There are a couple of different ways you can reach out to me:
  <ul>
    <li>Work Email:
      <a href="mailto:michael@elsen.co" target="_top"> michael@elsen.co</a>
    </li>
    <li>Personal Email:
      <a href="mailto:michael@gattozzi.com" target="_top"> mgattozzi@gmail.com</a>
    </li>
    <li>Phone: 617-412-5397</li>
    <li><a href="https://twitter.com/mgattozzi">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/mgattozzi">LinkedIn</a></li>
  </ul>

  If you need to contact me securely you can use my public PGP key
  to encrypt your message. You can find it and proofs of my identity
  on keybase.io <a href="https://keybase.io/mgattozzi">here</a>.
  <pre class="center-block pgp"><code class="pgp">
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBFochlUBEACwvYPQHiQax4/JHN/67d2gBht8RTagvvgg1Fjw+HPrQzENKpV5
zMu+vSVsRHTGAIxabJ5mEueb9lE6QR7amYt/cqjiVIH8XjatGKVXHjquou3FTytq
9b8d08bnEMTA+2l90XJ0XyzirvZePSRyT7yP3xQ2kqQazyRPpua7htlsJA0PLe/i
5nqKPOj4YSDIX7AQPEwGjAqDKJKtQIVML2S5uutNddvssqrUp4zMSuNP7N5V2zZU
B0VFmc0Qt8ZCdj9NdwEPoPdOWfH7eJxRZSJaPJp2qGMmYTmc7pVAUfBDyJUmRm54
1xJD8ZHVJQ1JHsPQrjgtCWZ6gys9rujYFR/OHOkD2Ib+7FVe7V8EFa+x0h6ifKm3
qbap8sEiSnZI42N6I4GJlqdf+Flpwnnhb2iNZnty5kDExeE2SV7D2BMrdZYJSID5
v4nR9R9SpL7hpbujSlXlVrgkDKAy9y6Cky5MmCwLX64iJ6PoSEa+RaBA0Wm1oYzH
ayuug+nxSe1xb4kY3cEbQl/BVNEPXcEgt0Zb1LexHDIuzJ57eMYL+63toU2NRWVc
x3RUFy8LfUOeOY5X7gYLtbyWff8Ll9S2CGPWGORcbA1SU7arwJyCwotY41N8SZ3C
mG7vCVcFx5QqqGbsxIvUN0d2KkBm061ZPdvjSZtCvny7sTzL7pnWe0eT3QARAQAB
tDNNaWNoYWVsIEdhdHRvenppIChZdWJpY28gS2V5KSA8bWdhdHRvenppQGdtYWls
LmNvbT6JAk4EEwEIADgWIQRbwtPjvkl0AKI8IJ6wu5ire5DbigUCWhyGVQIbAwUL
CQgHAgYVCAkKCwIEFgIDAQIeAQIXgAAKCRCwu5ire5DbipYAD/96z9Ec9ej9wAd5
78kMUV+jAM3wxVfxEkssVYrf1Y7Uf+giS5eZg+/BaUimnmCledFyE56efdLXtoCc
EdbZDT/yVu+zflJMXbN8xIM2qHEfAnv38DMWX+14CPNx1ABMVXNCoeGRk2DIvXHN
Rt3VUuZFZzSmYzI/lyl1LL4HjZQeTgMFr5ARVwFJmzMQVksILAUA9UgMbTWyKmzI
qLurn2PLbbqlanUAV5hSZvrwLbgaDG2vxPoQAI9dyHtThpX7WN2yXfGwmUdyymYz
nYq6pybRyyi5nQISRZMqVOulMyx9pqSzmx6DN6BeV5w0Pp5DUKmAvf7dPAN0yEot
Qjhxnp/tqUI4FGUZ1VqKGB2q5bbuAJN7k1H2EpflG25t1q29ae/5XTyStgyMGq+Z
i9pso7mEYitQnLQgGFKJBl7bzO4Ndwgocr9GmrXnMucUtkgJwL9wZYC0+JR6XlRz
yc7Ho9+Lt0wNaIRWIlQnBttV5XBAVgHaBYsTc8pELtvrFMsazDAQo2EOSb09YfSc
TRRt5r494evApeFCm6hY2DLR0W8foA/pN6BuaZyazH3SqSXYISGJ9MohcOzwmebj
m4V7Du1KqlOeI3QmDTSMdUS3g4WRwd5M6Q9N6H4eHUJ9FZ9wio4m3rkRAoVdekUG
GwX5aCDbhg2cUW1N+8MITyoPXgSVo7kCDQRaHIZ/ARAAxQC0QkqtCBwuWLYOwG2r
6q8hEe1YrdDVgJJNCRIgO5mjIGKHkWImma/9AuocQdPxMf0bmKP4tEyYHQccqTsY
IMZ4X5/yBpBQ2/0GT/EcYHJ6l1/DTGQtooP5uXAVjpQnQjuWBoqG01bFU03fA7po
Npf2ajZv17lWLmpr2EspGfPuWiC/higB5x9Ud6RJIxJI1WZOYMGI4CdW11CpmNp7
wbPE15CDVGafbzQNX/3R9AJSCtLRIDUKd6W2iiaWNrikZK4A5r1gqZu+Ry/OA9mb
NFGLvbiVc5aJs8++kjkoXCqBpkvZld/ScT+rzSLeQUIDrI/j3JG1R8GB570Ms/tG
F2Dxew0c5qHsiSTMgFPA2vGX4Cph0oJfDBYmUcj4ALedQXwErIGOWWIzLKP3qIpy
U8h2JMYtubB+FcSqPkdwTgS3RQjGV4DZIU5G3aSEq3gZYeWJfj5ZeTNCZIeSGWVl
E59wZbKDDaypjotTMqo+3elJfvYYClhbPU46ArR84MsLGs8sE8l4aHJWz0Ky3Qux
strR8gP2CORmf8touWVfLboL9/RMGWuxLEYCDloepf2aNjnX80s5BhdA1aMIwY4x
FTM9bgCzQuThGam/t+ykEgIKDDrhXKtrYvrL0BcGcgy0Q6oBuBYPMJQaAHM5iqcV
oFQ/eqPVaukbAZLqK4vPV6kAEQEAAYkEbAQYAQgAIBYhBFvC0+O+SXQAojwgnrC7
mKt7kNuKBQJaHIZ/AhsCAkAJELC7mKt7kNuKwXQgBBkBCAAdFiEEkFsEu90OJYLQ
hqAoYZcG/K3YBwwFAlochn8ACgkQYZcG/K3YBww36A//Zi8hrdM1mgzy5t7w5YH0
yeHyVEFHyhs4aOpyBvCHGRxXVwyTchFf7uVt2hyWfDBsjRduEY3upBjlkZpRa8Ts
zcfWJ0uFzw1nDMwQ/PshVA9Fg0YvktemsuGzCQe7ttitQqB+uNU52ucA7n84WSha
cgcX5qcQQ5rDOL1jfuoOTmUQqrZKFetGi6lgibkNM27zIwwtVcDgq5CBc/w3On7w
AWxtAHsDd7qcvMUB/Net3WduytF6YeKPoiDdDbSQcdpFzbSHW+IoPwMZbatpdDBV
UK53+2E3Dm3Hxi9s5rC62mKiC65uupDOGzngnSdP6Egq2g2ehIbZYGNQuORWZ11Q
BNssIEQ/auq+zKVSJHX5RZJPlkdUHGbzB8vGR/0OV2DcNekekH3qsxsxRpiJ2p8p
iTdKItSBaeQlLhMm7niBJYnYa8lPj3kgfHm7p1emgzD7RFBGvbTON1u92VpIjdzj
T6kaxinLNsoM7721nvPY/ufQq/La1KSvj3LyFfTxc24sLKKlniC2YEm3fNgMPX0W
zGuG3KV1j6HPH2x6GSEbdEuHE5QXzJFqRnRotkbN16eYQ1xMBn+EsUOIeHc8BDZ/
GX9CAepSugNvCKvmHujr6Y0fWzUkOn8lyUmJfnWu9luBCJz+fLRT7+nkfRwXOWUf
AGPKbJo8e9pYxoFPT8Qe/9D7zQ/+OlHbsCp5Oi75dx3wk2tQnRlqvMmQmWLpikGm
2z6gf0+C0R6tICiqXV/3kJGHf3/aBm4c69fh9oai5D5Z6cApBEIzdNKZhl9DUlXU
qSEXPZcDKN5bnlef5Yj8Hy1SuRU+OLy9U/Od3XnJwAL5FIz46fXXTNH6o7O53KGJ
xHu1b4Qjw9ezClBMVZEtN3hQ4ZpXnG9u/V5poH+/R0xzDufT422AOWk8B4hv7Wfp
BaZG8u2Ojt4r3YpbsvB7RdBoKYEjGahHizDpSZRic8iQB/DQy1hV8S05SzJS2qW/
E3fv9nVTJQki/BjTWh8vCMOPUtM00aOLglobRm2iJn/PmcjtoTWJYMOISNLG73Mm
Tl1wJUwIb8cgRSa3W/ubhUgDtNuStxEpEWMm9ZddtuAFjpZSh6zExmS6G47RVfDu
AUWmDS/XhckuTZVAS7R6il3NCLQUi9cSZKLq+oyv122hv8UmnXn7mQ7p4t+LDBUE
KVu5p7LZ0oxJkxcoS/B8M39wIjiOtwJJxgOUfc3nftJWOl1NWxGtxDNESVBoT3S3
VBQohyn2MGLpPQy4fpneziGeSP9b0pETPaoul/kMxzhuOgSwEyHUYlHVT6Uk2Jvg
VFyvSHYiCClEuIAaKXJjrzJUgstvb0AukYdEcTdWNNiWGojbCRpwrFn+PQnwRuKi
8aPO4iK5Ag0EWhyGrgEQALUtKusAediTA6FLVzwG7srWt0r04zNePODd08RwwF5O
6/VaVxVerNST3w2J2G/lhbYfAcRYbZKtLl7nJvX+Tv8LyAcl1X/F2gUwNSMLGd5q
6zFzFr8qXvw3NIOwTcFWyftENAeW1qRV3xrNK6iK+HFF3VWoLjR6E4L+q3gPct0w
pSagAUAWg8T+ndpDhlCGul8H5Tl+08kqXW6tN4AnRbd2yZbgkI+h4P4LJ4B5oQCk
O/qEVc4Ik1AjJrN+wpqGhS0gQMKkVnss41fZXoA03mDn2KudeXGRBd6n0YTk3Z4X
VjvUD7Vh2vJ5KFo16DH6HUZ5jpxVeReKWCA4hLKdpqIBBG8UbWQdKnsdskTZOmLL
EB28zApKseDVyQVGchWG0LEPr9hkKZCUDhQm8KmhgxvQAydRy5F1Ho5Fng08itNS
BtGCN3TOStd9jW/TkW0gTw6SQVOlvf+YqFK8He12PJPQ0Bn8m1lV9kJuxr+o9Z7F
TfP2z6V9jHkWGiHhLBwoa0L12hftQNsUzJoD4LjX6BPUK2p+Sk3YAZsbvDSZkpdK
NaxZREBGZjc5Vq4NZlA1R8RoOAKLcxyoqQX2rA84nCC4JLH7N+TLMVRfzPBpRgBd
CnfuZvkdT22fnVzTuLL/W/VlO1UsoISeCe/2G+bCgFtaGryohijMJTFHElCGWzdR
ABEBAAGJAjYEGAEIACAWIQRbwtPjvkl0AKI8IJ6wu5ire5DbigUCWhyGrgIbDAAK
CRCwu5ire5DbirkmD/9KtOwqM0T10KVY38pHgABA5cgZwwQiwyR/b/z9lmmMbV15
gnOlVBZdPoIKicy/AzULJSf++wNw+AIRFIBUWg4FrPN2BTUwamfLlfAnFk+mX4Hk
2iZV5IYk34giSiahi/ZQuToz9MWn7AJ6vaC5oa/JMLBEnywUrvjDnPCzFRj9DXQ8
mSmz9K2NQ9mI3fiNz04m1W9ygXyVJSdlSiXh64ZiKmoEjsaD7Z+F5C82AWMlwg6y
pSohRfjJJSAucxbI2en4A0DxjmwdhM+AOtYKxRCuQ7ugjZr3qlalihvyDRT5OhrJ
vKnw/lTFhErTJLXTsT47qoOa5KwkVse/1F9r+wUIMoHHrCYkCDLOrTVaTGwBRRh2
7FoUn4T37ABavxL8HkAMEiqfFF/IoojIoOmK9z18cJPdQWX5i/z5ITpIgLVxHdNf
qthr85FBkw3QI3mZWvOXPmP89vU95iaJ61PGOhAY05ERHxAP3AWdjZS6+00QeqqV
TSoI0SdZBR71xQCtH+G2ojPxgSYdwOWQWV9GvYCD7/XfQReq3t1N3VnEO5uG1hgH
eaLkg9+gHxucXBYUCthhTGQ/EcpBiBRoQKOjOYYbizfj4pz8ucA7NEFcgqCUGyxi
7HYRPgWu/2nzn9HmOHZhj+j2t6e7wwIYtUjiqKoW0AYHhjsmjWVz3D7IHxbrOLkC
DQRaHIbZARAAsibwjZ9N8augPNNTRcW4wacdOhKEHkyVcqL7quzyPQZ9mzsWTWTL
QO95vWsnmsEN7E73XArFad2FyKm05iY9QkEU1G8CXPCF0k9Hp8JqhCD5QYFxeibH
2EhWTnVphhizzx/PbF4ulpFaTMROPtdZJvxRaNC9hQ+YmgYnO2iuEoka99rsVt+y
kM5/Z25e4HBt3wKzLfD3Be51/MEb1Ct/Ng4/yYydlE5WUg40siIT5ARucQekOHs0
KgK1jAG7mGHF2DwKAXe/1IEOj9MocWqkw4SXx97oaY5cxNoZ2yhRJxKRJOigypTf
J97d5jmmwzHJgS/inQiFqvef9KXNRma4LLi3zkhdclX/S6+FZ+efRI7Dgo69Yubk
yIGDS2u85mpesKh3P+xjXxTslxtt4SicfaxcjM3U9o0aEOuT73q0mUo26+7lOSK3
9hJNGouPR+FHvh8edHrYsPGlY1Mc4kefUXE/ZlSyjrRCsKKrPt5pDrC+fCrSGAMX
mTMRizumkp1AQqkXFFD5sw6emCZqLvYsTFubdiHake1tTPfWwgLNMESQYEYk8Kec
32pB8Als7e72j7zZs2hm5eXcPHYRF4UW/rnv1zD+VCDzj5kHm3KAyRGXHoUCoMGD
+bnXren3+EYzUn43OsI2ERPSEYprWny7ixVyE03BRSuoMrQuq4aY2L0AEQEAAYkC
NgQYAQgAIBYhBFvC0+O+SXQAojwgnrC7mKt7kNuKBQJaHIbZAhsgAAoJELC7mKt7
kNuKCngP+wcHVGJBddt+CZeBJSIGa8FglRVo9TJkWUwTdYCCr8N1t2qC6gON033a
PavVH4qVQjpCNl/sobfqO8lJnKvk2+rxpMapH9CGPe8olb4sNaXPRUYvILMnDMPm
ltad6g2yYS20jutyLUO19TTtG8kcKI+63nKTV6gd61eWG+oyQuIVIc6UgpGfjnYd
AEQWyRNfOFqyGHCGp+pMywR2YkVcD36plbUB/DS7BElz+jbbkXv+HBSsceBpBf9K
ZoJmsbiViyuDiTJjb0WDErBjd/kG/YQrvn5C6kvpmHGshin6eacjZdMtYrDuozbE
iT/UjKD2ls+4Ez4NKg1YlEnCzk13L8i6AR0ZtNduQbn0FZMGmAoG2w9XcEUOJXJC
A9oixvQFj2uedO2M2j8JBmFGqvkSCb2MvzDPg94KXa2kJ4+Xa//c30Dc+o3T+5UK
qWt2Lrk/URbiIX/4qmOzsw2W/X0L93NGlVc4suzL0FDIRUyYV0KRojSBWpMNIA+M
+eeU+lmZ4VJlh0+IZ4542Zq8dPf57iH66ixYPQznsYpEEDJrUWZz7KeK6mj65TiX
RfMdf6M9inM6rk91UTH5dUmxIaGctg3jWG1GN2SEmbgnENmCt48NSFRXtbEKEldm
Pw9YIBp3sXmJ9ahS75K2VtQVPwPDXEEEXYeswDnKIokKNxOqgEJ1
=PEvc
-----END PGP PUBLIC KEY BLOCK-----
  </code></pre>
</div>
{% endblock content %}
